{% extends 'body.html' %}
{% load widget_tweaks %}

{% block content %}
<form method="post" action=".">{% csrf_token %}
    <input type="hidden" name="action" value="{{ action }}">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                {% if  action == 'add' %}
                    <i class="fas fa-plus"></i>
                {% else %}
                    <i class="fas fa-edit"></i>                    
                {% endif %}
                    
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="form-label">{{ field.label }}:</label>
                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
            </div>
            <div class="text-danger">
                {{ field.errors }}
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat btnTest">
                <i class="fas fa-save"></i> Crear registro
            </button>
        </div>
    </div>
</form>
<script>
    {% if form.errors %}
        let errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{error}}\n'
            {% endfor %}
        {% endfor %}
        Swal.fire({
            title: 'Error!',
            text: errors,
            icon: 'error',
        })
    {% endif %}
    //messages_error()
    $('form').on('submit',function (e) {
        e.preventDefault();
        let parameters = $(this).serializeArray();
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: parameters,
            dataType: 'json'
        }).done(function (data) {
            if (!data.hasOwnProperty('error')) {
                location.href = '{{ list_url }}';
                return false
            }
            messages_error(data.error);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(`textStatus: ${textStatus} - errorThrown: ${errorThrown}`)
        }).always(function (data) {
        
        })
    });

</script>
{% endblock %}